.App {
	display: flex;
  flex-direction: column;
	height: 100%;
}

header {
	flex: none;
	background-color: #5e636a;

	a {
		color: #fff;
		font-size: 2rem;
	}

	.header-links {
		height: 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		&__item {
			padding: 0 5px;
		}
	}
}

footer {
	height: 6rem;
	background-color: #5e636a;
	flex: none;
}

.app-content {
  text-align: center;
  padding: 1rem;
  flex: auto;
}

@media (max-width: 600px) {
	header a {
		font-size: 1.5rem;
	}
}